{% extends 'base.html.twig' %}

                    {% block title %}json generator{% endblock %}

                    {% block body %}
                        <style>
                            .example-wrapper {
                                margin: 1em auto;
                                max-width: 800px;
                                width: 95%;
                                font: 18px/1.5 sans-serif;
                            }

                            .example-wrapper code {
                                background: #4eff6b;
                                padding: 2px 6px;
                            }
                        </style>

                        <div class="example-wrapper">
                            <h1>Hello there ! ✅</h1>
                            <h2>Bienvenue sur le json generator !</h2>

                            <section>
                                <h3>Utilisation du générateur</h3>
                                <ul>
                                    <li>endpoint: POST /api/generate</li>
                                    <li>Body: raw Text, template au format yaml</li>
                                    <li>Params: optionnels
                                        <ul>
                                            <li>quantity: quantité d'items à générer à partir du template</li>
                                            <li>locale: par défault 'fr_FR'. Impacte la génération des noms, adresses, ect...</li>
                                        </ul>
                                    </li>
                                </ul>
                            </section>

                            <section>
                                <h3>Documentation</h3>

                                <article>
                                    <h4>Génération des valeurs</h4>
                                    <p>
                                        Cet outil s'appuie sur <a href="https://fakerphp.org/">faker php</a>.
                                    </p>
                                </article>

                                <article>
                                    <h4>Templates</h4>
                                    <p>Les templates sont au format yaml.</p>
                                    <ul>
                                        <li>Il est possible de chaîner les méthodes comme dans la <a href="https://fakerphp.org/">documentation</a> de faker php</li>
                                        <li>Quand la valeur ne correspond pas à une instruction interprétable, alors elle sera conservée telle quelle.</li>
                                    </ul>

                                    <h5>exemple de template :</h5>
                                    <pre>
# chaînage
nom: unique->lastname
prenom: firstname
                    
# fonction avec paramètres
nombre_aleatoire: numberBetween(0,10)

# sous-template voiture
voiture:
    id: uuid

    # choisira un élément aléatoire de la liste
    marque:
        - Renauld
        - Pigeot
        - BMVV

    # conservera la valeur telle quelle
    couleur: rose métalisé à poids verts et rayures jaunes
                                    </pre>

                                    <h5>résultat</h5>
                                    <pre>
{{ '{
  &quot;nom&quot;: &quot;Noel&quot;,
  &quot;prenom&quot;: &quot;G&eacute;rard&quot;,
  &quot;nombre_aleatoire&quot;: 7,
  &quot;voiture&quot;: {
    &quot;id&quot;: &quot;443ce3e1-4b69-39ce-bee7-c4b2d96d46e5&quot;,
    &quot;marque&quot;: &quot;Renauld&quot;,
    &quot;couleur&quot;: &quot;rose m&eacute;talis&eacute; &agrave; poids verts et rayures jaunes&quot;
  }
}' }}
                                </pre>
                                </article>

                            </section>

                        </div>
                    {% endblock %}
